body {
  background-color: #ECF0F1;
}

#nav {
  width: 1170px;
  height: 50px;
  border: solid black 1px;
}

.day-bels {
  width: 160px;
  height: 29px;
  border: solid black 1px;
  margin: -1px 0px 2px -1px;
  background-color: #67809F;
}

.day-label {
  width: 150px;
  height: 19px;
  border: solid black 1px;
  margin: 4px 1px 5px 3px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

.hour {
  height: 60px;
  width: 155px;
  margin: 0px 1px 0px 1px;
  border: solid black 1px;
  text-align: center;
}

#side {
  float: left;
  width: 70px;
  height: 1582px; /*60minutes x
  24 hours + (2px border + 1px margin)(24 hours)*/
  border: solid black 1px;
  margin: 35px 2px;
}

.daily {
  width: 160px;
  height: 1615px;
  border: solid black 1px;
  float: left;
  margin: 2px 2px 2px 2px;
}